/*include fonts*/
@font-face {
  font-family: SansBold;
  src: local("PT_Sans_Pro_Bold"), url(../fonts/PT_Sans_Pro_Bold.otf);
}
@font-face {
  font-family: SansDemi;
  src: local("PT_Sans_Pro_Demi"), url(../fonts/PT_Sans_Pro_Demi.otf);
}
@font-face {
  font-family: SansLight;
  src: local("PT_Sans_Pro_Light"), url(../fonts/PT_Sans_Pro_Light.otf);
}
/*main styles*/
body,
html {
  color: #000000;
  font-size: 18px;
  line-height: 32px;
  font-family: SansLight;
  /*min-width: 960px;*/
}
ul,
li,
ol {
  list-style: none;
  float: left;
}
ol {
  padding-left: 27px;
  margin-bottom: 48px;
}
ol li {
  list-style-type: decimal;
  color: #f2353c;
  width: 100%;
}
ol li span {
  color: #000000;
  width: 100%;
  display: block;
}
ol li ol {
  margin-bottom: 0px;
}
ol li ol li {
  list-style-type: lower-latin;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 21px;
}
ul ul li,
ol ul li,
ul ol li,
ol ol li {
  margin-top: -10px;
  clear: both;
}
ul ol,
ol ol {
  margin-left: 0;
}
.before_hyphen {
  width: 100%;
  margin-bottom: 31px;
}
.before_hyphen ul {
  margin-bottom: 0px;
}
.before_hyphen ul li:before {
  font-size: 8px;
  padding-right: 7px;
  top: -3px;
}
.before_hyphen li {
  width: 100%;
}
.before_hyphen li:before {
  content: "■";
  color: #f2353c;
  padding-right: 11px;
  position: relative;
  top: -1px;
}
a,
a:visited {
  color: #f2353c;
  text-decoration: underline;
}
a:hover,
a:visited:hover {
  color: #f2353c;
  text-decoration: underline;
}
.document {
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-left: 56px;
  min-height: 54px;
  max-width: 130px;
  line-height: 15px;
}
.document .file_name {
  font-family: SansBold;
  font-weight: normal;
  float: left;
  font-size: 12px;
  height: 30px;
  overflow: hidden;
  color: #000000;
  text-decoration: underline;
}
.document .file_name:hover {
  color: #f2353c;
}
.document .file_size {
  float: left;
  color: #888888;
  font-size: 11px;
  margin-top: 5px;
}
.document.doc {
  background: url("../images/icon_doc2.png") 0 0 no-repeat;
}
.document.xls {
  background: url("../images/icon_xls.png") 0 0 no-repeat;
}
.document.pdf {
  background: url("../images/icon_pdf.png") 0 0 no-repeat;
}
.document.docx {
  background: url("../images/icon_docx.png") 0 0 no-repeat;
}
.document.rar {
  background: url("../images/icon_rar.png") 0 0 no-repeat;
}
.document.zip {
  background: url("../images/icon_zip.png") 0 0 no-repeat;
}
.document.xlsx {
  background: url("../images/icon_xlsx.png") 0 0 no-repeat;
}
.document.ppt {
  background: url("../images/icon_ppt.png") 0 0 no-repeat;
}
textarea {
  resize: none;
}
h1 {
  font-size: 30px;
  margin-bottom: 37px;
  font-family: SansBold;
  font-weight: normal;
}

#content > .main > h1 {
    margin-bottom: 0px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: SansBold;
  color: #000;
  font-weight: normal;
}
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: SansBold;
  font-weight: normal;
  color: #000;
}
h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: SansBold;
  font-weight: normal;
  color: #000;
}
h5 {
  font-size: 14px;
  margin-bottom: -3px;
  font-family: SansBold;
  font-weight: normal;
}
h6 {
  font-size: 12px;
  margin-bottom: -3px;
  font-family: SansBold;
  font-weight: normal;
}
table {
  width: 100%;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 40px;
}
table thead {
  font-family: SansBold;
  font-size: 12px;
  text-transform: uppercase;
}
table tr {
  border-top: 1px solid #ededed;
}
table tr:last-child {
  border-bottom: 1px solid #ededed;
}
table td {
  padding: 13px 0 17px;
  width: 140px;
  padding-left: 20px;
}
.contact_us {
  background: #f2353c;
  border: 0 none;
  color: #f2f2f2;
  cursor: pointer;
  font-family: SansDemi;
  font-size: 18px;
  float: right;
  height: 34px;
  margin-top: 12px;
  padding: 0 26px;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.grey_text {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
  font-family: SansLight;
}
.fancybox:hover::after {
  background: url("../images/zoom_big_icon.png") center center no-repeat rgba(242, 53, 60, 0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.feedback_form {
  width: 100%;
  float: left;
  margin-top: 46px;
}
.velcom {
  background: url("../images/icon_velcom.png") 0 4px no-repeat;
  padding-left: 26px;
}
.mts {
  background: url("../images/icon_mts.png") 2px 5px no-repeat;
  padding-left: 26px;
}
.city_phone {
  background: url("../images/icon_phone.png") 2px 5px no-repeat;
  padding-left: 26px;
}
.contact_feedback {
  width: 100%;
  float: left;
  border: 1px solid #e6e6e6;
  padding: 10px 0px 40px 40px;
  margin-top: 15px;
  width: 918px;
}
.contact_feedback .row {
  float: left;
  margin-bottom: 15px;
}
.contact_feedback label {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
  font-family: SansLight;
  clear: both;
  display: block;
}
.contact_feedback .required {
  color: #f2353c;
  padding: 0 3px;
}
.contact_feedback input {
  color: #8c8c8c;
  font-size: 18px;
  height: 39px;
  width: 415px;
  text-indent: 10px;
  border: 1px solid #e6e6e6;
}
.contact_feedback input.required {
  border: 1px solid #f2353c;
  box-shadow: none;
  padding: 0;
  color: #8c8c8c;
}
.contact_feedback .left {
  width: 460px;
}
.contact_feedback .left .grey_text {
  padding-top: 2px;
  float: left;
}
.contact_feedback .left .hint {
  font-size: 12px;
  color: #8c8c8c;
  font-style: italic;
  margin-bottom: -6px;
  margin-top: -4px;
  float: left;
}
.contact_feedback .right {
  width: 458px;
}
.contact_feedback textarea {
  font-size: 16px;
  line-height: 32px;
  font-family: SansLight;
  color: #8c8c8c;
  font-size: 18px;
  height: 203px;
  width: 395px;
  text-indent: 0px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.contact_feedback textarea.required {
  border: 1px solid #f2353c;
  box-shadow: none;
  padding: 10px;
  color: #8c8c8c;
}
.contact_feedback .error {
  color: #f2353c;
  float: left;
  font-size: 14px;
  width: 100%;
}
.contact_feedback .error span {
  border-bottom: 1px dotted #f2353c;
}
.contact_feedback .contact_us {
  margin-right: 40px;
  margin-top: 19px;
}
#order_popup {
  display: none;
}
#order_popup .contact_feedback {
  width: 721px;
  border: 0 none;
}
#order_popup textarea {
  font-size: 16px;
  line-height: 18px;
  font-family: SansLight;
  color: #000000;
  font-size: 18px;
  height: 195px;
  width: 320px;
  text-indent: 0px;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
#order_popup textarea:invalid {
  border: 1px solid #f2353c;
  box-shadow: none;
}
/*feedback in fancybox, if u'll use any other popup system - edit this*/
.fancybox-inner .feedback_form {
  margin-top: 0px;
  padding: 25px 36px 0 40px;
  width: 720px;
}
.fancybox-inner .feedback_form .block {
  border-bottom: 1px solid #e6e6e6;
  float: left;
  padding-bottom: 30px;
  margin-bottom: 27px;
}
.fancybox-inner .feedback_form .block h2 {
  margin-bottom: 6px;
}
.fancybox-inner .feedback_form .block p {
  float: left;
  font-size: 16px;
  margin-right: 17px;
}
.fancybox-inner .feedback_form .block .velcom {
  background: url("../images/icon_velcom.png") 0 9px no-repeat;
}
.fancybox-inner .feedback_form .block .mts {
  background: url("../images/icon_mts.png") 2px 10px no-repeat;
}
.fancybox-inner .feedback_form .block .city_phone {
  background: url("../images/icon_phone.png") 2px 10px no-repeat;
}
.fancybox-inner .feedback_form h2 {
  width: 100%;
  float: left;
}
.fancybox-inner .feedback_form .contact_feedback {
  border: 0 none;
  margin-top: 0px;
  width: 720px;
  padding: 0px 0px 40px 0px;
}
.fancybox-inner .feedback_form input {
  color: #8c8c8c;
  font-size: 18px;
  height: 39px;
  width: 340px;
  text-indent: 10px;
}
.fancybox-inner .feedback_form .left {
  width: 343px;
}
.fancybox-inner .feedback_form .right {
  width: 346px;
}
.fancybox-inner .feedback_form textarea {
  color: #8c8c8c;
  font-size: 18px;
  height: 195px;
  width: 320px;
  text-indent: 0px;
}
/*header*/
.header_wrapper {
  width: 100%;
  float: left;
  background: url("../images/header_shadow.png") bottom repeat-x;
  padding-bottom: 27px;
  padding-top: 20px;
  position: relative;
}
.header_wrapper.white {
  min-height: 790px;
  background: url("../images/slider_bg.jpg") no-repeat scroll center top #f3838b;
  padding-bottom: 0px;
  background-attachment: fixed;
    background-size: cover;
}
.header_wrapper.white .logo_link {
  background: url("../images/logo_main.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.header_wrapper.white .logo_link:hover {
  background: url("../images/logo_main.png") no-repeat scroll -115px 0 rgba(0, 0, 0, 0);
}
.header_wrapper.white .top_menu a {
  color: #ffffff;
  text-decoration: none;
    font-size: 18px;
}
.header_wrapper.white .top_menu a.active,
.header_wrapper.white .top_menu a:hover {
  border-bottom: 0px solid #f2353c;
  padding-bottom: 0px;
}
.header_wrapper.white .contact_us {
  background: #f2353c;
  border: 0 none;
  color: #ffffff;
  cursor: pointer;
  font-family: SansDemi;
  font-size: 18px;
  float: right;
  height: 34px;
  margin-top: 12px;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  background: none;
  border: 2px solid #fff;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header_wrapper.white .contact_us:hover {
  background: #f2353c;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.header_wrapper.white .slider_wrapper {
  width: 100%;
  float: left;
  margin-top: 200px;
}
.header_wrapper header {
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
  font-family: SansDemi;
  /*feedback in fancybox, if u'll use any other popup system - edit this*/
}

.header_wrapper header .logo_link {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  float: left;
  background: url("../images/logo.png") 0 0 no-repeat;
  width: 115px;
  height: 62px;
}
.header_wrapper header .logo_link:hover {
  background: url("../images/logo.png") -115px 0 no-repeat;
}
.header_wrapper header .top_menu {
    float: left;
    background-color: transparent;
    border: none;
    margin-left: 45px;
}
.header_wrapper header .top_menu li:last-child a {
  margin-right: 0px;
}
.header_wrapper header .top_menu li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  color: #000000;
  text-decoration: none;
  margin-right: 37px;
}
.header_wrapper header .top_menu li a.active,
.header_wrapper header .top_menu li a:hover {
  border-bottom: 2px solid #f2353c;
  padding-bottom: 3px;
}
.header_wrapper header .contact_us {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  background: #f2353c;
  border: 2px solid #f2353c;
  color: #ffffff;
  cursor: pointer;
  font-family: SansDemi;
  font-size: 18px;
  float: right;
  height: 34px;
  margin-top: 12px;
  padding: 0 24px 1px 25px;
  text-align: center;
  text-decoration: none;
}
.header_wrapper header .contact_us:hover {
  background: none;
  color: #f2353c;
  border: 2px solid #f2353c;
}
.header_wrapper header .feedback_form {
  display: none;
}
.header_wrapper .goto_block1 {
  background: url("../images/slider_down_arrow.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 40px;
  cursor: pointer;
  float: left;
  height: 56px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 56px;
}
/*pagination*/
.paging {
  border-top: 1px solid #f2f2f2;
  width: 100%;
  padding-top: 31px;
  margin-top: 17px;
}
.paging li {
  margin-right: 14px;
  width: auto !important;
  /*hack for other lists*/
}
.paging li a {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  color: #000;
  font-size: 22px;
  padding: 1px 6px 3px;
}
.paging li a:hover {
  color: #f2353c;
}
.paging li a.active {
  color: #fff;
  background: #f2353c;
}
.paging li .prev,
.paging li .next {
  width: 21px;
  height: 12px;
  background: url("../images/arrow_black_left.png") no-repeat;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 11px;
  margin-right: 15px;
}
.paging li .next {
  margin-right: 0px;
  margin-left: 15px;
  background: url("../images/arrow_black_right.png") no-repeat;
}
/*content*/
.content_wrapper {
  width: 100%;
  float: left;
}
.content_wrapper #contacts_map {
  width: 100%;
  float: left;
  height: 564px;
  margin-top: -100px;
}
.content_wrapper #content, .content_wrapper #content_feed {
  width: 960px;
  overflow: hidden;
  margin: 38px auto 100px;
  /*left_menu*/
  /*right_aside*/
  /*projects list, news_list*/
  /*open project*/
  /*article_details*/
  /*only main page*/
  /*end main page styles*/
}
.content_wrapper #content .main {
  float: left;
  width: 640px;
}
.content_wrapper #content .main .download_block {
  float: left;
}
.content_wrapper #content .main .back {
  display: block;
  float: left;
  background: url("../images/arrow_red_left.png") no-repeat;
  width: 19px;
  height: 14px;
  margin: 11px 8px 0 0;
}
.content_wrapper #content .main ul {
  width: 100%;
}
#content .main ul li:not(.ya-share2__item) {
  width: 100%;
}
.content_wrapper #content .main .share {
  float: left;
  line-height: 14px;
  margin-top: 60px;
}
.content_wrapper #content .main .doc_icon {
  background: url("../images/icon_doc.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
  padding-left: 30px;
  display: block;
  float: left;
  color: #000000;
  font-size: 14px;
  height: 35px;
  width: 100%;
  line-height: 2.6;
}
.content_wrapper #content .main .doc_icon:hover {
  color: #f2353c;
}
.content_wrapper #content .main .calc {
  width: 100%;
  float: left;
}
.content_wrapper #content .main .calc h2 {
  float: left;
}
.content_wrapper #content .main .calc #calculator {
  float: left;
  background: #f2f2f2;
  padding: 41px 41px 29px;
  width: 560px;
  margin-bottom: 34px;
}
.content_wrapper #content .main .calc #calculator .row {
  float: left;
  margin-bottom: 15px;
  position: relative;
}
.content_wrapper #content .main .calc #calculator label {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
  font-family: SansLight;
  display: block;
  float: left;
  margin-top: 4px;
  width: 193px;
}
.content_wrapper #content .main .calc #calculator .calc_result {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  float: left;
  padding-top: 18px;
  margin-top: 25px;
}
.content_wrapper #content .main .calc #calculator .calc_result .grey_text {
  line-height: 17px;
  display: block;
}
.content_wrapper #content .main .calc #calculator .calc_result .contact_us {
  margin-top: 22px;
  color: #ffffff;
  text-decoration: none;
}
.content_wrapper #content .main .calc #calculator output {
  color: #000000;
  font-size: 24px;
  width: 100%;
  float: left;
  font-family: SansBold;
  font-weight: normal;
}
.content_wrapper #content .main .calc #calculator img {
  position: absolute;
  top: 12px;
  right: -31px;
}
.content_wrapper #content .contacts_block {
  width: 100%;
  float: left;
  margin-top: 6px;
  margin-bottom: 54px;
}
.content_wrapper #content .contacts_block .block {
  float: left;
  width: 240px;
}
.content_wrapper #content .contacts_block .block span,
.content_wrapper #content .contacts_block .block a {
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-family: SansLight;
  display: block;
}
.content_wrapper #content .left_aside {
  float: left;
  width: 320px;
}
.content_wrapper #content .left_aside .left_menu {
  float: left;
}
.content_wrapper #content .left_aside .left_menu li {
  width: 100%;
  float: left;
  margin-bottom: 9px;
}
.content_wrapper #content .left_aside .left_menu li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  color: #000000;
  text-decoration: none;
  font-family: SansDemi;
}
.content_wrapper #content .left_aside .left_menu li a.active {
  padding-left: 31px;
  background: url("../images/arrow_red_right.png") no-repeat 0 center;
}
.content_wrapper #content .left_aside .left_menu li a:hover {
  color: #f2353c;
  text-decoration: none;
}
.content_wrapper #content .right_banner {
  float: right;
  padding: 20px;
  border: 1px solid #e6e6e6;
}
.content_wrapper #content .projects_list,
.content_wrapper #content .news_list {
  width: 100%;
  float: left;
}
.content_wrapper #content .projects_list .fancybox:hover::after,
.content_wrapper #content .news_list .fancybox:hover::after {
  display: none;
}
.content_wrapper #content .projects_list .project,
.content_wrapper #content .news_list .project,
.content_wrapper #content .projects_list .news,
.content_wrapper #content .news_list .news {
  width: 100%;
  float: left;
  margin-bottom: 43px;
}
.content_wrapper #content .projects_list .news,
.content_wrapper #content .news_list .news {
  margin-bottom: 34px;
}
.content_wrapper #content .projects_list .date,
.content_wrapper #content .news_list .date {
  color: #999999;
  font-size: 14px;
  line-height: 32px;
  font-family: SansLight;
}
.content_wrapper #content .projects_list a,
.content_wrapper #content .news_list a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  width: 100%;
  float: left;
  text-decoration: none;
}
.content_wrapper #content .projects_list h2,
.content_wrapper #content .news_list h2 {
  border-bottom: 1px solid #ababab;
  line-height: 28px;
  float: left;
  max-height: 30px;
  margin-top: -2px;
  /*in order not to make span block*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  max-width: 100%;
}
.content_wrapper #content .projects_list h2:hover,
.content_wrapper #content .news_list h2:hover {
  color: #f2353c;
  border-bottom: 1px solid #fbbcbf;
}
.content_wrapper #content .projects_list p,
.content_wrapper #content .news_list p {
  width: 100%;
  float: left;
  max-height: 64px;
  overflow: hidden;
  word-wrap: break-word;
}
.content_wrapper #content .projects_list img,
.content_wrapper #content .news_list img {
  float: left;
  margin-top: 14px;
  width: 640px;
  /*!!!!*/
}
.content_wrapper #content .open_project {
  float: left;
}
.content_wrapper #content .project_gallery {
  width: 100%;
  float: left;
  margin-top: 11px;
}
.content_wrapper #content .project_gallery .gallery_imb_block {
  float: left;
  height: 151px;
  position: relative;
  margin: 12px 12px 0 0;
  width: 151px;
}
.content_wrapper #content .project_gallery .gallery_imb_block img {
  width: 151px;
  height: 151px;
  float: left;
}
.content_wrapper #content .project_gallery .gallery_imb_block .fancybox:hover::after {
  background: url("../images/zoom_big_icon.png") center center no-repeat rgba(242, 53, 60, 0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 151px;
  cursor: pointer;
}
.content_wrapper #content .article_details {
  /*not sure about this, use only on the text page*/
}
.content_wrapper #content .article_details > img {
  margin-bottom: 17px;
}
.content_wrapper #content .article_details p {
  margin-bottom: 20px;
}
.content_wrapper #content .block1 {
  /*BLOCK1*/
  width: 100%;
  float: left;
  margin-bottom: 52px;
  padding-top: 0px;
  text-align: center;
}
.content_wrapper #content .block1 p {
  width: 820px; /* 800px */
  margin: 0 auto;
}
.content_wrapper #content .block1 img {
  margin-top: 32px;
}
.content_wrapper #content .block2 {
  /*BLOCK2*/
  float: left;
}
.content_wrapper #content .block2 .gallery_imb_block {
  float: left;
  height: 300px;
  position: relative;
  margin: 0 0 30px;
  width: 300px;
}
.content_wrapper #content .block2 .gallery_imb_block a {
  float: left;
}
.content_wrapper #content .block2 .gallery_imb_block.big_one {
  width: 630px;
  margin-right: 30px;
}
.content_wrapper #content .block3 {
  /*BLOCK3*/
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding-top: 52px;
  text-align: center;
  background: #f2f2f2;
}
.content_wrapper #content .block3 p {
  width: 820px; /*635px*/
  margin: 0 auto;
}
.content_wrapper #content .block3 .mini_map {
  float: left;
  position: relative;
  width: 960px;
  height: 153px;
}
.content_wrapper #content .block3 .mini_map img {
  float: left;
}
.content_wrapper #content .block3 .mini_map .pin {
  position: absolute;
  width: 44px;
  height: 53px;
}
.content_wrapper #content .block3 .mini_map .pin img {
  margin-left: -14px;
  margin-top: -32px;
}
.content_wrapper #content .block3 .mini_map .pin1 {
  top: 17px;
  left: 103px;
}
.content_wrapper #content .block3 .mini_map .pin2 {
  top: 39px;
  left: 212px;
}
.content_wrapper #content .block3 .mini_map .pin3 {
  top: 25px;
  right: 262px;
}
.content_wrapper #content .block3 .mini_map .pin4 {
  top: -2px;
  right: 34px;
}
.content_wrapper #content .block3 .contact_us {
  position: relative;
  left: 393px;
  /*don't like such numbers, but don't want to make 1 more container*/
  margin-top: 30px;
  text-decoration: none;
  color: #fff;
  float: left;
}
.content_wrapper #content .block4 {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding-top: 46px;
  text-align: center;
  background: #f2f2f2;
  padding-bottom: 40px;
}
.content_wrapper #content .block4 .market_description {
  margin: 46px auto 5px;
  /*complain with h1 margin-bottom*/
  width: 835px;
  overflow: hidden;
}
.content_wrapper #content .block4 .text_pic {
  color: #999999;
  font-size: 21px;
  line-height: 32px;
  font-family: SansLight;
  font-family: SansDemi;
  padding-top: 65px;
}
.content_wrapper #content .block4 .text_pic.pic1 {
  background: url("../images/pic1.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 .text_pic.pic2 {
  background: url("../images/pic2.png") no-repeat scroll center 3px rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 .text_pic.pic3 {
  background: url("../images/pic3.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  padding-top: 71px;
  line-height: 20px;
}
.content_wrapper #content .block4 .text_pic.pic4 {
  background: url("../images/pic4.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 .auditory_choose {
  float: left;
  margin-left: 55px;
  cursor: pointer;
  padding-bottom: 33px;
}
.content_wrapper #content .block4 .auditory_choose.active {
  cursor: default;
  background: url("../images/arrow_down.png") no-repeat center bottom;
}
.content_wrapper #content .block4 .auditory_choose.active .text_pic {
  color: #000000;
}
.content_wrapper #content .block4 .auditory_choose.active .pic1 {
  background: url("../images/pic1_active.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 .auditory_choose.active .pic2 {
  background: url("../images/pic2_active.png") no-repeat scroll center 3px rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 .auditory_choose.active .pic3 {
  background: url("../images/pic3_active.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 .auditory_choose.active .pic4 {
  background: url("../images/pic4_active.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.content_wrapper #content .block4 p {
  width: 835px;
  margin: 0 auto;
}
.content_wrapper #content .block4 .text {
  display: none;
}
.content_wrapper #content .block4 .text.active {
  display: block;
}
.content_wrapper #content .block4 .contact_us {
  position: relative;
  left: 393px;
  /*don't like such numbers, but don't want to make 1 more container*/
  margin-top: 30px;
  text-decoration: none;
  color: #fff;
  float: left;
}
.content_wrapper #content .block5 {
  width: 100%;
  float: left;
  position: relative;
}
.content_wrapper #content .block5 .partners_wrapper {
  width: 960px;
  float: left;
}
.content_wrapper #content .block5 .partner_img_wrapper {
  float: left;
  height: 168px;
  position: relative;
  margin: 0 30px 0 0;
  width: 168px;
  background: #f2f2f2;
}
.content_wrapper #content .block5 .partner_img_wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: auto;
}
.content_wrapper #content .block5 .partner_img_wrapper:last-child {
  margin-right: 0;
}
.content_wrapper #content .block5 .prev_partner,
.content_wrapper #content .block5 .next_partner {
  position: absolute;
  width: 168px;
  height: 168px;
  top: 0px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.content_wrapper #content .block5 .prev_partner:hover,
.content_wrapper #content .block5 .next_partner:hover {
  opacity: 1;
}
.content_wrapper #content .block5 .prev_partner.disabled,
.content_wrapper #content .block5 .next_partner.disabled {
  visibility: hidden;
}
.content_wrapper #content .block5 .next_partner {
  right: 0px;
  background: url("../images/slider_arrow_right.png") no-repeat;
}
.content_wrapper #content .block5 .prev_partner {
  left: 0px;
  background: url("../images/slider_arrow_left.png") no-repeat;
}
.content_wrapper #content .block6 {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 48px;
}
.content_wrapper #content .block6 p {
  width: 635px;
  margin: 0 auto;
}
.content_wrapper #content .block6 .arrows_bg_block {
  float: left;
  position: relative;
  left: 308px;
  padding: 0 66px;
  background: url("../images/arrows_block.png") no-repeat center 48px;
}
.content_wrapper #content .block6 .contact_us {
  margin-top: 40px;
  color: #fff;
  padding: 0 37px;
  left: 0;
  text-decoration: none;
}
#content.news_detail{
  margin: 0 auto;
}
.news_detail .news-detail {
  padding-top: 0px;
  margin: 0px;
}
.map_news_detail  {
  border-left: 1px solid #f2353c;
  padding: 0 30px 0 30px;
  margin: 20px 0 20px 0;
  opacity: 0.6;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-top: 20px;
}
.map_news_detail:hover {
  opacity: 1;
}
.content_wrapper #global_map {
  width: 100%;
  float: left;
  height: 710px;
}
/*footer*/
.footer_wrapper {
  width: 100%;
  float: left;
  background: #f2f2f2;
}
.footer_wrapper footer {
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 9px;
}
.footer_wrapper footer .copyright {
  color: #999999;
  float: left;
}
.footer_wrapper footer .shareBar {
  float: left;
  margin-left: 66px;
}
.footer_wrapper footer .shareBar .a2a_svg {
  border-radius: 0px;
  opacity: 1;
}
.footer_wrapper footer .shareBar .a2a_svg:hover {
  opacity: 1;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_vk {
  background: url(../images/share.png) 0 0 no-repeat;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_vk:hover {
  background: url(../images/share.png) 0 -33px no-repeat;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_facebook {
  background: url(../images/share.png) -45px 0 no-repeat;
  margin: 0 0 0 14px;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_facebook:hover {
  background: url(../images/share.png) -45px -33px no-repeat;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_twitter {
  background: url(../images/share.png) -89px 0 no-repeat;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_twitter:hover {
  background: url(../images/share.png) -89px -33px no-repeat;
}
.footer_wrapper footer .shareBar .a2a_svg.a2a_s__default.a2a_s_a2a {
  display: none;
}
.footer_wrapper footer .shareBar .a2a_default_style a {
  padding: 0;
}
.footer_wrapper footer .creator {
  float: right;
  margin-left: 8px;
}
.footer_wrapper footer .creator .logo_bot {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  background: url("../images/logo_bot.png") 0 0 no-repeat;
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 8px;
}
.footer_wrapper footer .creator span {
  font-size: 12px;
  color: #999999;
  float: left;
  display: block;
  width: 70px;
  line-height: 11px;
}
.footer_wrapper footer .creator:hover .logo_bot {
  background: url("../images/logo_bot.png") -26px 0 no-repeat;
}

.footer_wrapper footer .creator .logo_ml {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  background: url("/bitrix/templates/belliftreklama/images/ml-logo-chb.png") 0 0 no-repeat;
  width: 48px;
  height: 26px;
  float: left;
  margin-right: 8px;
 }
 
 .footer_wrapper footer .creator:hover .logo_ml {
  background: url("/bitrix/templates/belliftreklama/images/ml-logo-chb.png") -48px 0 no-repeat;
}

/*hacks*/
/*hidding ymap copyright*/
ymaps[class*="copyright__content-cell"] {
  display: none !important;
}
/*making greyscale*/
ymaps[class*="ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
/*baloon*/
ymaps[class*="balloon_layout_normal"] {
  margin-top: -40px;
}
ymaps[class*="balloon__content"] {
  padding: 33px 33px 29px !important;
  width: 259px;
  text-align: center !important;
  font-family: SansLight !important;
  font-size: 18px !important;
}
ymaps[class*="balloon__content"] h3 {
  margin-bottom: 25px;
}
ymaps[class*="balloon__content"] span {
  color: #999999;
  display: block;
  margin: 20px 0;
  width: 100%;
  font-size: 18px;
}
ymaps[class*="balloon__content"] p {
  line-height: 30px;
  font-size: 18px;
}
ymaps[class*="balloon__content"] a {
  background: #f2353c;
  border: 0 none;
  cursor: pointer;
  font-family: SansDemi;
  font-size: 18px;
  height: 34px;
  margin-top: 12px;
  padding: 5px 35px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  /* margin-left: 51px;
  float: left; */
  margin-top: 25px;
}
ymaps[class*="balloon__content"] a:hover {
  color: #ffffff;
  text-decoration: none;
}
ymaps[class*="balloon__content"] > ymaps {
  width: 259px !important;
  height: auto !important;
}
ymaps[class*="balloon__layout"] {
  margin-left: -90px;
}
/*popup*/
.popup_menu_wrapper {
  background: none repeat scroll 0 0 white;
  left: 50%;
  margin-left: -479px;
  margin-top: 30px;
  padding: 12px 0px;
  position: absolute;
  width: 307px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33);
  z-index: 4;
}
.popup_menu_wrapper .menu {
  padding: 0 31px;
}
.popup_menu_wrapper .menu li {
  width: 100%;
  margin-top: 25px;
}
.popup_menu_wrapper .menu li a {
  padding-left: 38px;
  color: #000000;
  text-decoration: none;
  display: block;
  line-height: 24px;
  cursor: pointer;
}
.popup_menu_wrapper .menu li a.active {
  color: #f2353c;
  background: url("../images/galochka.png") left 5px no-repeat;
}
.popup_menu_wrapper .menu li a:hover {
  color: #f2353c;
}
/*overlay for map*/
.overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  height: 710px;
  position: absolute;
  width: 100%;
  z-index: 888;
}
#contacts_map .overlay {
  height: 564px;
}
@media only screen and (max-width: 960px) {
  .popup_menu_wrapper {
    left: 0;
    margin-left: 0;
  }
}
/*select*/
ymaps[class*="controls__control_toolbar"] {
  background: #fff;
  width: 307px;
}
#my-listbox-header {
  background: url("../images/arrow_dropdown.png") no-repeat scroll right 14px rgba(0, 0, 0, 0);
  border: 0 none;
  color: #000000;
  text-decoration: none;
  font-family: SansBold;
  font-weight: normal;
  font-size: 21px;
  padding-right: 19px;
  padding-left: 71px;
  cursor: pointer;
}
#my-listbox-header span {
  border-bottom: 1px dotted black;
}
#my-listbox-header.open {
  background: url("../images/arrow_drop.png") no-repeat scroll right 14px rgba(0, 0, 0, 0);
}
#my-listbox-header:focus {
  outline: 0 none;
}
.dropdown-menu {
  background: url(../images/map_drop_menu.png) no-repeat;
  height: 126px;
  width: 100%;
  float: left;
  padding: 26px 28px 14px 71px;
  width: 208px;
  display: none;
  margin-top: 2px;
  margin-bottom: 16px;
}
#my-listbox li {
  width: 100%;
  float: left;
}
#my-listbox li a {
  border-bottom: 1px dotted #000000;
  color: #000000;
  cursor: pointer;
  display: block;
  float: left;
  line-height: 19px;
  margin-bottom: 15px;
  text-decoration: none;
}
#my-listbox li a:hover,
#my-listbox li a.active {
  color: #f2353c;
  border-bottom: 1px solid transparent;
}
/*chrome hack*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ol {
    padding-left: 32px;
  }
}
/*ie <9*/
.bws_reload {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.bws_reload .cwrp {
  width: 783px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 2px solid #EF641D;
  height: 1060px;
}
.firefox {
  background: url('../images/big-firefox.gif') no-repeat 10px top;
}
.ie {
  background: url('../images/big-ie.gif') no-repeat 5px top;
}
.chrome {
  background: url('../images/big-chrome.gif') no-repeat 15px top;
}
.opera {
  background: url('../images/big-opera.gif') no-repeat left top;
}
.firefox,
.ie,
.chrome,
.opera {
  padding-left: 130px;
  margin-top: 20px;
}
.firefox .file li {
  background: url('../images/fav-firefox.gif') no-repeat left;
}
.ie .file li {
  background: url('../images/fav-ie.gif') no-repeat left;
}
.chrome .file li {
  background: url('../images/fav-chrome.gif') no-repeat left;
}
.opera .file li {
  background: url('../images/fav-opera.gif') no-repeat left;
}
.bws_reload .file {
  padding: 0;
  margin: 10px 0 0;
}
.bws_reload li {
  list-style: none;
}
.file li a {
  margin-left: 25px;
}

footer object{
	float: right;
}



#content
{position: relative;}
#up_button
{ position: fixed; display: none; width:56px; height:56px; border-radius: 50%; opacity: 1; z-index: 10; cursor: pointer; bottom: 200px; right: 0px;   margin-right: 90px; /*margin-left:1000px;*/ opacity:0.5; background: url(../images/arrow_up.png) no-repeat; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
@media (max-width: 1180px) {
#up_button
{margin-left:900px;}
}
#up_button:hover
{ opacity: 1; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
#up_button:active
{ transition:all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -o-transform: scale(0.95); -ms--transform: scale(0.95); }


span.pic_zhil_dom
{ float:left; display: block; width: 43px; height:56px; margin:5px 10px 0 0; background: url(../images/pic1_active.png) no-repeat; opacity:0.8; }
span.pic_elit_dom
{ float:left; display: block; width: 50px; height:53px; margin:5px 10px 0 0; background: url(../images/pic2_active.png) no-repeat; opacity:0.8; }
span.pic_biz
{ float:left; display: block; width: 53px; height:62px; margin:5px 10px 0 0; background: url(../images/pic3_active.png) no-repeat; opacity:0.8; }
span.pic_admin
{ float:left; display: block; width: 60px; height:56px; margin:5px 10px 0 0; background: url(../images/pic4_active.png) no-repeat; opacity:0.8; }


a.show_calc_description
{ display: none; height: 16px; line-height: 16px; margin-top: 25px; }
a.show_calc_description span
{ font-size: 14px; font-style: italic; position: absolute; right: 0;bottom:-23px; border-bottom: 1px dashed #f2353c; }
a.show_calc_description:hover span
{border: none;}

ymaps[class*="balloon__content"] .inner_text a {
  padding: 0;
  background: none;
  height: auto;
  line-height: 1;
  font-size: 14px;
  font-style: italic;
  color: #f2353c;
  font-weight: normal;
  margin-top: 20px;
  font-family: SansLight;
  text-decoration: underline;
  display: block;
}
ymaps[class*="balloon__content"] .inner_text a:hover {text-decoration: none;}

.fancybox-title.fancybox-title-inside-wrap {
  padding: 10px;
}
.news_list .news a {
  float:none !important;
  display: block !important;
}
.news_list .news a h2 {
  float:none !important;
  display:inline !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

@media all and (max-width: 980px) {
    body {
        width: 100%;
        min-width: 0px;
    }

    .header_wrapper {
        width: 100%;
    }

    .header_wrapper header {
        width: 100%;
    }

    .header_wrapper.white {
        min-height: auto;
        float: none;
    }

    .header_wrapper.white .contact_us {
        float: left;
    }

    .top_menu li {
        float: none;
    }

    .content_wrapper #content, .content_wrapper #content_feed {
        width: 100%;
    }

    .content_wrapper #content .main {
        width: 100%;
    }

    .footer_wrapper footer {
        width: 100%;
        padding: 3% 4%;
    }

    .header_wrapper header .top_menu {
        float: none;
        margin-right: 15px;
    }

    .header_wrapper .logo_link {
        margin-left: 15px;
    }

    .header_wrapper .navbar-default .navbar-toggle .icon-bar {
        background-color: #ddd !important;
    }

    .header_wrapper.white .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #ff0000 !important;
    }

    .content_wrapper #content .block1 p, .content_wrapper #content .block3 p, .content_wrapper #content .block4 p, .content_wrapper #content .block6 p {
        width: 83.67%;
        margin-bottom: 10px;
    }

    .content_wrapper #content .block2 .gallery_imb_block.big_one {
        width: 100%;
    }

    .block2 img {
        width: 100%;
        height: auto;
    }

    .gallery_imb_block {
        width: 50% !important;
        height: auto !important;
        margin: 0px !important;
    }

    .big_one {
        width: 100% !important;
        height: auto !important;
    }

    .big_one a {
        width: 100%;
    }

    .market_description {
        width: 100% !important;
    }

    .market_description > .auditory_choose {
        width: 20%;
        margin-left: 5% !important;
    }

    .content_wrapper #content .block4 .contact_us, .content_wrapper #content .block6 .contact_us, .content_wrapper #content .block3 .contact_us {
        left: 0;
        float: none;
        padding: 5px 26px;
    }

    .content_wrapper #content .block6 .arrows_bg_block {
        float: none;
        left: 0;
        padding: 0;
        height: 30px;
    }

    .container {
        padding: 0 !important;
    }

    section {
        padding: 0 1%;
    }
    .block5 {
        display: none;
    }
    .navbar-header {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header_wrapper.white .top_menu a.active, .header_wrapper.white .top_menu a:hover {
        padding-bottom: 10px;
    }
    .fancybox:hover::after {
        width: 100%;
        height: 100%;
    }
    .content_wrapper #content .block2 .gallery_imb_block a {
        width: 100%;
    }
    .content_wrapper {
        padding: 0 2%;
    }
    .content_wrapper #content .contacts_block {
        text-align: center;
    }
    #up_button {
        margin-right: 20px;
    }
}